$white: #fff;
$black: #070707;

$text-color: rgba(7, 7, 7, 0.8);
$title-color: #111;

$primary-color: #2B11EB;
$primary-color-dark: #100082;

$secondary-color: #FE0853;
$secondary-color-hover: #df0a4a;

$light-bg: #F4F3FE;